@import './rescources.scss';

body {
  background-color: $black;
}

#app {
  width: 100%;
  margin: 0 auto;
}

body {
  display: flex;
  font-family: $font-family;
  color: $white;
}

#app {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media (min-width: $desktopSmall) {
    gap: 2rem;
    padding: 0 2rem;
  }
}
