@import './rescources.scss';

body {
  background-color: $black;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: $tablet) {
    padding: 2rem;
  }
}

body {
  display: flex;
  font-family: $font-family;
  color: $white;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
